node_modules
coverage
coverage.json
settings.json
typechain
typechain-types
remix-compiler.config.js
.env
scripts/*
!scripts/
!scripts/utils/
!scripts/deploy.js
!scripts/FirstSubRequest.js
!scripts/FirstDirectRequest.js
!scripts/settings.json
*_flat.sol






#Hardhat files
cache
artifacts